<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Rok Mihevc" />
   <link href="http://feeds.feedburner.com/rokblogrok" rel="alternate" title="Rokblog" type="application/atom+xml" />
 
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
 
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript">
     (function() {
       var config = {
         kitId: 'hpn0nux',
         scriptTimeout: 3000
       };
       var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
     })();
   </script>

</head>
<body>

{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if page.locale != nil %}{% assign locale = page.locale%}{% endif %}

<div class="site">
  <div class="title">
	{% assign link2 = page.url | truncate: 3, "" %}
    {% for link in site.locales[locale].nav %}
      {% assign current = nil %}
      {% if page.url == link.url or link2 == link.url %}
        {% assign current = 'current' %}
      {% endif %}
    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
    {% endfor %}	
	
	<a class="" href="http://linkedin.com/in/rokmihevc/">CV</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://feeds.feedburner.com/rokblogrok"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
	{% if locale == "en" %}<a href="{{ site.url }}/si"><img src="{{ site.url }}/images/si.jpg" height="22px" /></a>{% endif %}
	{% if locale == "si" %}<a href="{{ site.url }}/en"><img src="{{ site.url }}/images/en.jpg" height="22px" /></a>{% endif %}

  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Rok Mihevc<br />
        rok@mihevc.org<br />
		+386 31 369 171
      </p>
    </div>
    <div class="contact">
      <p>
      	<a href="http://facebook.com/rok.mihevc/">facebook.com/rok.mihevc</a><br />
		<a href="http://linkedin.com/in/rokmihevc/">linkedin.com/in/rokmihevc</a><br />
        <a href="http://github.com/rok/">github.com/rok</a><br />
      </p>
    </div>
  </div>
</div>
 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6800318-1");
pageTracker._trackPageview();
</script>
 
</body>
</html>