---
layout: default
---
{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='splash'>
    <img src='{{url}}' alt='' />
  </div>
{% endif %}

<h2 id="title">{{page.title}}</h2>
  <span>
    {{ page.date | date: '%B %d, %Y' }}{% if page.location != null %}, @{{ page.location }} {% endif %}
  </span>
{{content}}

{% include rss-link.html %}

{% if page.comments %}
<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'rokblog';
        var disqus_identifier = "{{ page.url }}";
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
